.line {
  fill: none;
  stroke: #212F3D;
  stroke-width: 2px;
}

.milestone-circle {
  fill: white;
  stroke: #212F3D;
}

#chart3 {
  float:left;
}

#tweetcontainer {
  float:left;
}

#sentiment-line {
  stroke:none;
}

#smpost {
  float:left;
  height: 700px;
}